<div style="width:1238px;height:642px;overflow:auto;">
   [% TRY %]
      <pre>[% INCLUDE  "/opt/fsi/inst/$entries.db_typ/ks/log/info/$entries.db_srv/syslog"  %]</pre>
   [% CATCH %]
 <br>
 No syslog config information found</pre>
   [% END %]
</div>