<div style="width:1238px;height:642px;overflow:auto;">
   <br>
   <h2>NTP Config: </h2>
   [% TRY %]
      <pre>[% INCLUDE  "/opt/fsi/inst/$entries.db_typ/ks/log/info/$entries.db_srv/ntp"  %]</pre>
   [% CATCH %]
 No ntp config information found</pre>
   [% END %]

</div>